{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> DREAM11 Stars / Preview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href={% static "/css/all.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/css/players.css" %}>
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        <nav>
            <ul class="nav-container">
                <li><a class="home" href="/">Home</a></li>
                <li><a class="preview" href="/preview/">preview</a></li>
                <li><a class="players" href="#">players</a></li>
            </ul>
        </nav>
            
        <div class='container'>
            <header>
                <h1> Squads of all Teams </h1>
                
            </header>
            
            <div class="content">
                
                <h2>Mumbai Indians</h2>

                <p>
                    Rohit Sharma, Sherfane Rutherford, Suryakumar Yadav, Anmolpreet Singh, Chris Lynn ,
                     Saurabh Tiwary, Dhawal Kulkarni, Jasprit Bumrah, Lasith Malinga(missed out ), Mitchell McClenaghan,
                      Rahul Chahar, Trent Boult, Mohsin Khan, Prince Balwant Rai Singh, Digvijay Deshmukh,
                       Hardik Pandya, Jayant Yadav, Kieron Pollard, Krunal Pandya, Anukul Roy,
                     Nathan Coulter-Nile, Ishan Kishan, Quinton de Kock, Aditya Tare
            
                </p>
                <br> <br> <br>
                <h2>Chennai Super Kings</h2>
                <p>
                    Narayan Jagadeesan, Ruturaj Gaikwad, KM Asif , Ravindra Jadeja, M Vijay, MS Dhoni, 
                    Josh Hazlewood ,Kedar Jadhav, Harbhajan Singh, Karn Sharma, Piyush Chawla, Ambati Rayudu,
                     Suresh Raina(missed out), Imran Tahir , Deepak Chahar, Faf du Plessis, Shardul Thakur, Mitchell Santner,
                     Dwayne Bravo, Lungi Ngidi, Sam Curran, Monu Kumar, Shane Watson, Sai Kishore
                </p>
                <br> <br> <br>
                <h2>Royal Challengers Bangalore</h2>
                <p>
                    Virat Kohli (Captain), Aaron Finch, AB de Villiers, Chris Morris, Dale Steyn, Devdutt Padikkal, 
                    Gurkeerat Mann, Isuru Udana, Josh Philippe, Adam Zampa (Kane Richardson’s replacement), Moeen Ali,
                     Mohammed Siraj, Navdeep Saini, Pavan Deshpande Parthiv Patel, Pawan Negi, Shahbaz Ahamad, 
                    Shivam Dube, Umesh Yadav, Washington Sundar, Yuzvendra Chahal
                </p>
                <br> <br> <br>
                <h2>kolkata knight riders</h2>
                <p>
                    Dinesh Karthik (Captain), Andre Russell, Chris Green, Eoin Morgan, Harry Gurney(missed out), Kamlesh Nagarkoti,
                     Kuldeep Yadav, Lockie Ferguson, M Siddharth, Nikhil Naik, Nitish Rana, Pat Cummins, Prasidh Krishna,
                      Praveen Tambe, Rahul Tripathi, Rinku Singh, Sandeep Warrier, 
                    Shivam Mavi, Shubman Gill, Siddhesh Lad, Sunil Narine, Tom Banton, Varun Chakravarthy
                </p>
                <br> <br> <br>
                <h2>Rajasthan Royals</h2>
                <p>
                    Akash Singh, Andrew Tye, Anirudha Joshi, Ankit Rajpoot, Anuj Rawat, Ben Stokes, David Miller, 
                    Jaydev Unadkat, Jofra Archer, Jos Buttler, Kartik Tyagi, Mahipal Lomror, Manan Vohra, Mayank Markande, Oshane Thomas, Rahul Tewatia, Riyan Parag, Robin Uthappa,
                     Sanju Samson, Shashank Singh, Shreyas Gopal, Steve Smith, Tom Curran, Varun Aaron, Yashasvi Jaiswal
                </p>
                <br> <br> <br>
                <h2>Delhi Capitals</h2>
                <p>
                    Shreyas Iyer (Captain), Ajinkya Rahane, Alex Carey, Amit Mishra, Avesh Khan, Axar Patel, Chris Woakes, 
                    Harshal Patel, Ishant Sharma, Daniel Sams (Jason Roy’s replacement) Kagiso Rabada, Keemo Paul, Lalit Yadav, Marcus Stoinis, Mohit Sharma, Prithvi Shaw, 
                    R Ashwin, Rishabh Pant, Sandeep Lamichhane, Shikhar Dhawan, Shimron Hetmyer, Tushar Deshpande
                </p>
                <br> <br> <br>
                <h2>kings x1 punjab</h2>
                <p>
                    KL Rahul (Captain), Arshdeep Singh, Chris Gayle, Chris Jordan, Darshan Nalkande, 
                    Deepak Hooda, Glenn Maxwell, Hardus Viljoen, Harpreet Brar, Ishan Porel, James Neesham,
                     J Suchith, Karun Nair, Krishnappa Gowtham, Mandeep Singh, M Ashwin, Mayank Agarwal, Mohammed Shami,
                      Mujeeb ur Rahman, Nicholas Pooran,
                     Prabhsimran Singh, Ravi Bishnoi, Sarfaraz Khan, Sheldon Cottrell, Tajinder Singh Dhillon
                </p>
                <br> <br> <br>
                <h2> sunrisers hyderabad </h2>
                <p>
                    Abdul Samad, Abhishek Sharma, Bavanaka Sandeep, Bhuvneshwar Kumar, Billy Stanlake, David Warner,
                     Fabian Allen, Jonny Bairstow, Kane Williamson, Khaleel Ahmed, Manish Pandey, Mitchell Marsh,
                      Mohammad Nabi, Priyam Garg, Rashid Khan, Sandeep Sharma, Sanjay Yadav, Shahbaz Nadeem, Shreevats Goswami,
                     Siddharth Kaul, T Natarajan, Vijay Shankar, Virat Singh, Wriddhiman Saha
                </p>
                <br> <br> <br>
                
            </div>
                    



        </div> <!--container ends-->
        
        <footer>
            
                <ul>
                    <li><a href="https://twitter.com/IPL/" target="_blank" title="ipl page"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/iplt20/" target="_blank" title="ipl insta"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/IPL" target="_blank" title="ipl FB page"><i class="fab fa-facebook-square"></i></a></li>
                </ul>
            
        </footer>
    </body>
</html>