{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> DREAM11 Stars / Preview</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href={% static "/css/all.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/css/preview.css" %}>
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        <nav>
            <ul class="nav-container">
                <li><a class="home" href="/">Home</a></li>
                <li><a class="preview" href="#">preview</a></li>
                <li><a class="players" href="/players/">players</a></li>
            </ul>
        </nav>
            
        <div class='container'>
            <header>
                <h1> Preview of every teams and their formations </h1>
                
            </header>
            
            <div class="content">
                
                <h2>Mumbai Indians</h2>
                <img src={% static "/images/mipreview.jpeg" %} alt="image">

                <p>
                    Starting with the defending Champions,the team even with Average performance can 
                    trouble any of their oppositions. They just becomes stronger and stronger after each ipl.<br> Special
                    Thanks to their scouting manager John Wright who always comes up with the fine
                    talents across india like Bumrah, Pandya brothers, Rahul chahar and the list goes on
                    ....Since rohit took captaincy,there is no turning back. A team full of match winners
                    lacks <strong>Prominent Spin attack</strong> which will be the key feature in UAE. Anyway 
                    the team ticked all other boxes with fire powering batting lineup and good mix of
                    bowlers. Bumrah who has the economy rate of just 6.63 in 2019  will be crucial for them ..
                     Hardik who just became a father will be looking to continue his form 
                    of 2019 where his different stance worked really well.MI has a great mix of left andd right 
                    combinations in their batting and bowling. ishan should show his temperament.dekock was in fine form 
                    but should play the off-spinners safely,suryakumar will be their key batsman who is on form of his life.
                    They are blessed with the best finishers(pollard,krunal.hardik).Even 15 rpo is gettable with these 
                    finishers. Malinga opting out of tournament was setback as he has the experience of playing in UAE
                     for maratha arabians in T10 and succeeded big time.Addition of boult was masterclass considering the ipl 
                     in india but will he be handy in UAE ? Answer will be seen sooner. Spin department is totally reliable
                     on Rahul chahar.
                      With the hitman hitting the gyms
                    they will be eye on another title until they realise this is an even year. <br>
                     <span>"An EVEN team that loves ODD years"</span>
            
                </p>
                <br> <br> <br>
                <h2>Chennai Super Kings</h2>
                <img src={% static "images/cskpreview.jpg" %} alt="image">
                <p>
                    The team whose average age is 33 is no longer worrying as long as it runs by their skipper Mahendra
                    singh Dhoni. As everyone says "Csk will anyhow find their ways to playoffs". Out of 10 times,they
                    made final for 8 times. IPl becoming competitive , Players Changing , rules changing , owners 
                    changing , planning changes but CSk in Finals is Constant ! It becomes the saying "ipl is the 
                    tournament where 7 teams compete to play against CSk in Finals"
                    But for the first time the heartbeat of Csk "Chinna Thala" taking Periya gap resulting in missing
                    out the whole tournament. But dhoni is optimistic that raina will comeback as their CEO too 
                    revealed "they wont be looking out for raina replacement". With the huge void raina leftout...
                    ruturaj set to fill it,the star of india-A who was the second leading run scorer in syed mustaq
                    ali trophy only next to padikkal.For the first time in the history of Chennai super kings 
                     <strong>their bowling looks better than batting </strong> . <br> Watson played a lot of cricket here for his PSl team 
                     and T10 team. More responsibility on rayudu to save this batting lineup...he had only one bad season in his entire ipl carrier which
                     is the previous year. He accepted the fact his exclusion WC affected his mind previous year and
                     he is ready to roar this time.<br>keeping current situation of csk in mind.. Jadhav and jadeja will be crucial players as both should show their
                     all round capabilty . Since no left hander in top order ..dhoni will promote jadeja up the order to tackle
                     the spin attack and with no off-spinner in bowling attack..dhoni will ask jadhav to roll his arm against
                     left hand batsmans. Santner showing his all round ability, Tahir being the leading wicket taker and bravo
                     rediscovered his death bowling in recently concluded <strong>cpl</strong> was very positive news for Csk fans. Ngidi leads the 
                     pace attack with deepak is something to watch out for.
                    . With some players tested covid positive, negativity surrounds them 
                    just before the ipl as always. But this is the team that never fails to comeback and amuse us !
                    <br>
                    <span>"Lets see who they face in Finals"</span>
                </p><br><br><br>

                <h2>Royal Challengers Bangalore</h2>
                <img src={% static "/images/rcbpreview.jpg" %} alt="image">
                <p>
                    Death, taxes and Royal Challengers Bangalore making you scratch your head with their auction strategy: some things in life won’t change.

                     Mike Hesson, the new Director of Cricket, spent time at the Syed Mushtaq Ali T20 tournament and won himself brownie points with the fans. Here’s a guy putting in the effort needed, one though.

                    Let’s get the positives out of the way first: in Devdutt Padikkal, they have one of the most promising young Indian batsmen already in their ranks and by adding Aaron Finch to the mix, they have an exciting opening pair to look forward to with Virat Kohli and AB de Villiers propping up the line-up. 
                    RCB’s batting has always been one a strong point and they now have a top four that is potentially among the best in the league.

                    In Shivam Dube and Navdeep Saini, RCB have invested will peer out soon this year .
                    Among big names,if anyone asks me to choose one top player on UAE conditions..it would be moeen ali without any second thoughts.
                    moeen looks more comfortable hitting against spinners.What can you ask more than that in dubai(a homeground for rcb).
                    Adds value with his bowling too. The concern for rcb over the years has been their death bowling. They solved that very much as it 
                    looks like rcb holds the best death bowlers among all. Morris and saini keep hitting the length hard and bowls at 145kph addition to nailing 
                    the yorkers is always the tough for Batsman. Unless their captain comes up with flaw plans there bowling looks very
                    settle this time. 

                    
                    <br>
                    <span>"Ee saala Cup Namde ?"</span>
                </p><br><br><br>

                <h2>Rajasthon Royals</h2>
                <img src={% static "/images/rrpreview.jpg" %} alt="image">
                <p>
                    Their skipper Steve Smith made a triumphant return to international cricket from a one-year ban, helping Australia retain the Ashes.
                     What would have pleased them even more was their English trio – Jos Buttler, Jofra Archer, and Ben Stokes – all playing pivotal roles in their country’s men’s team lifting the World Cup for the first time. All of them are match-winners in their own right.

                    
                    Among teenage cricketers, nobody has earned more plaudits than Mumbai’s Yashasvi Jaiswal. 
                    In the domestic white-ball season, the 17-year-old batted with carefree abandon and his shot-making was a sight to behold. The 2008 champions have every reason to believe that they might have pulled off a coup there.
                    
                    While Sanju Samson, Stokes and young Riyan Parag make up for a decent middle-order lineup, 
                    the lack of a lower-order hitter came back to haunt them in the closing stages of a few games last season. The decision to trade long-standing servant Ajinkya Rahane was perhaps made keeping that in mind. As was the call to go for South Africa’s David Miller. 
                    The southpaw’s blow hot-blow cold nature is a concern but adds some much-needed depth to the middle-order.
                    Karthik Tyagi and Akash Singh are also additions to Rajasthan’s youth policy.Mayank Markande was traded before the auction and adds more depth to their spin department. At times in the past, the dependable Shreyas Gopal has cut a lonely figure, and they turned to Parag to chip in.

                    Rajasthan Royals might believe in Jaydev Unadkat who had exceptional domestic season leading his team to Ranji trophy victory. Tye, on his day, is a tricky customer and has creditable IPL performances to his name.
                    
                    Another name that raised eyebrows during the auction was veteran Robin Uthappa. He has been a part of their title-winning seasons, and we look forward to him bringing his experience to our team.
                    <br>
                    The 34-year-old’s batting prowess has been on the wane somewhat in shorter formats and has Buttler and Samson ahead of him in the pecking order with the gloves.

                    The biggest signing, though, may well turn out to be coach Andrew McDonald, who is one of the more sought after coaches in the Australian circuit. There will be an air of familiarity when he teams up with Smith once again.

                    One of Rajasthan’s biggest challenges in recent years has been their English core leaving for national duties at a crucial stage during the season.It might happen this year too as there is speculations ben stokes might opt out for personal reasons Even so, this time, the bench has been strengthened to back-up their stars and the squad looks settled and balanced, at least on paper.
                    <br>
                    <span>"Too much relied on Overseas players"</span>
                </p><br><br><br>

                <h2>Delhi Capitals</h2>
                <img src={% static "/images/dcpreview.jpg" %} alt="image">
                <p>
                    They got their backroom in order last season, got their team believing, got a good 
                    season under their belt and even saw a young captain start to grow in confidence. 
                    So, all they really needed to do in the off-season was to keep the sentiment going.

                    And they have managed to do it well. They made some big moves in the transfer window signing veterans Ajinkya Rahane and 
                    R Ashwin. It gave their young squad a fillip in terms of experience and when the going gets tough, this quality might just come to their rescue.
                     <br>
                    This team structure looks like they got players by keeping UAE in their minds. As ipl shifted
                    to UAE..all of a sudden Delhi looks as favorite to win. Keemo paul,Stoinis,carey,rahane,ashwin and
                    many other players will suit perfect on abu dhabi and dubai decks. The advantage comes from there home ground..there is no
                    big difference between delhi decks and UAE decks. They just need to get their playing 11 right as there is too 
                    much confusions on who to open the batting.
                    <br><span>"Capitals Capitalized the pitch conditions"</span>
                </p><br><br><br>

                <h2>Sunrisers hyderabad </h2>
                <img src={% static "/images/srhpreview.jpg" %} alt="image">
                <p>
                    Hyderabad reached the playoffs last season but their overall form was
                     nothing spectacular. What they did unearth is David Warner and Jonny Bairstow forming an unlikely opening pair, and boy, weren’t they prolific?

                    Unfortunately, the Warner-Bairstow axis was broken just before the playoffs and Hyderabad 
                    suffered a limp exit from the tournament.in India U-19 captain Priyam Garg, they made a bankable investment for the future.

                    Barring Fabian Allen and Shaun Marsh, the rest of the new signings were similar in that sense. The Hyderabad management think stocking the squad with promising young 
                    domestic talent is the way forward, a strategy that is a stark contrast to some of the other franchises.
                    That can be said about their bowling too. The seasoned Siddarth Kaul is dependable and Sandeep Sharma too, can be an asset during the powerplay overs. Persistent injuries have kept out Bhuvneshwar Kumar from the India XI but once again, there is a lot riding on him to lead the pace attack. Khaleel Ahmed is still raw and needs time to fine-tune his trade.

                    Hyderabad still lack a tearaway quick that can spread fear into the opposition ranks. Trevor Bayliss and Co are happy with Billy Stanlake to do that job. Among spinners, Fabian Allen is the new name in the supporting cast in an already 
                    formidable lineup that features Afghanistan duo Rashid Khan and Mohammad Nabi as well as Shahbaz Nadeem.
                    <br>
                    The major problem for SRH is to choose their 4 overseas players. Bairstow,warner,rashid and nabi is top runners for that spot.
                    That makes willamson to sit on bench. Thats too harsh on him but making the squad balanced is top priority. Indians doesn't seen 
                    more of allen. he's power hitter who can take that finishers spot which is long been the trouble for srh.
                    Their bowling lineup looks more one-dimensional. once again they will mostly rely on their openers
                    <br><span>"in dubai,Sunrisers plays more matches at sunset"</span>
                </p><br><br><br>

                <h2>Kolkata knight riders</h2>
                <img src={% static "/images/kkrpreview.webp" %} alt="image">
                <p>
                    Kolkata Knight Riders, after not reaching the playoffs the previous season, made some big decisions, including that of snapping up Australia quick Pat Cummins for a whopping Rs 15.50 crore, making him the most expensive foreign buy in Indian Premier League history.

                    The pace bowling department, last year, was an area where the two-time looked short of numbers, and it derailed their campaign during the tail end of the group stages. Fitness issues continue to plague young quicks Kamlesh Nagarkoti and Shivam Mavi. The latter has made a good start to the Ranji Trophy campaign
                    and the former is being expected as next big thing in india. Their captain and coaches is all of praise on his skills. Hope we get a 
                    glimpse of him this year.Morgan also bolsters the middle-order and takes the pressure off Russell, who, at times was waging a lone battle for Kolkata.
                    young England opener Tom Banton in his early days but the 21-year-old has shown enough evidence that he’ll be a difficult customer to stop once he gets going.
                    Shubman Gill and Nitish Rana have been consistent performers in the last two years. More talks on gill as the next "kohli". As like kohli h started his iol carrer by batting at lower order. BUt this should be the season that allows to open the innings and contribute big for the team. Narine and gill,two completely
                    differect characters playing together will be delight for eyes. The problem kkr faced last year was selecting their batting order. This time they should fix things and allot specific roles to every players.
                    on paper,they ticked all boxes and looks completely balanced. Its worth to say narine had good season in cpl with his new bowling action might do wonders in ipl also.
                    <br><span>"Team is set! Slow pitch will affect them "</span>
                </p><br><br><br>

                <h2>Kings x1 punjab</h2>
                <img src={% static "/images/k11ppreview.jpg" %} alt="image">
                <p>
                    The biggest strength for Kings XI Punjab is its power-packed batting lineup. Skipper KL Rahul, Chris Gayle, Mayank Agarwal, Glenn Maxwell, Nicholas Pooran, Karun Nair, Mandeep Singh, and Sarfaraz Khan give them plenty of Indian and overseas options to play with.

                    On top of that, they have managed to get hold of all-round options that increase their batting depth and at the same time, can come-in to bowl a few overs. Maxwell, James Neesham, K. Gowtham, and Deepak Hooda make it to their all-rounders' list.

                    What KXIP lacks is the class of spin-bowlers in their squad. They have Krishnappa Gowtham, Jagdeesha Suchith, Murugan Ashwin, and rookie Ravi Bishnoi to play with while playing foreign player Mujeeb Ur Rahman consistently might be difficult for them.

                    In addition to that, they only have Mohammed Shami as a bankable Indian seam-bowler and they might have to rely on Chris Jordan and Sheldon Cottrell to perform the job for them.

                   

                    A replacement for the released Sam Curran, Neesham can form a deadly batting pair with Maxwell and also give some economical overs. The team also bought Deepak Hooda, who can be a backup to any of these two stars.

                    Moving on to the bowling department, the Punjab-based franchise bought Ishan Porel and Sheldon Cotrell. Cotrell, with his ability to swing the ball, can prove to be a handy new ball bowler. Moreover, both of them are in excellent form. 
                     the addition of such stars, KXIP looks a complete team, and all set to wreck havoc in the upcoming season.
                    <br><span>"waiting for more of Preity zinta's smile"</span>
                </p><br><br><br>
            </div>
                    



        </div> <!--container ends-->
        
        <footer>
            
                <ul>
                    <li><a href="https://twitter.com/IPL/" target="_blank" title="ipl page"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/iplt20/" target="_blank" title="ipl insta"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/IPL" target="_blank" title="ipl FB page"><i class="fab fa-facebook-square"></i></a></li>
                </ul>
            
        </footer>
    </body>
</html>